[Unit]
Description=File Browser Web UI
After=network.target

[Service]
User=siraznallot
WorkingDirectory=/srv/filebrowser
ExecStart=/usr/local/bin/filebrowser \
  -r /srv/filebrowser \
  --address 0.0.0.0 \
  --port 8080 \
  --database /srv/filebrowser/filebrowser.db
Restart=always

[Install]
WantedBy=multi-user.target
